@model BugTracker.Models.Ticket
@using Microsoft.AspNetCore.Identity
@using  BugTracker.Areas.Identity.Data
@inject UserManager<ApplicationUser> userManager

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_AdminLte.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Ticket</h4>
    <hr />
</div>

<div class="card-body">
    <div class="row">
        <div class="col-12 col-md-12 col-lg-8 order-2 order-md-1">
            <div class="row">
                <div class="col-12 col-sm-4">
                    <div class="info-box bg-light">
                        <div class="info-box-content">
                            <span class="info-box-text text-center text-muted"> @Html.DisplayNameFor(model => model.Title)</span>
                            <span class="info-box-number text-center text-muted mb-0">@Html.DisplayFor(model => model.Title)</span>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-4">
                    <div class="info-box bg-light">
                        <div class="info-box-content">
                            <span class="info-box-text text-center text-muted"> @Html.DisplayNameFor(model => model.Description)</span>
                            <span class="info-box-number text-center text-muted mb-0"> @Html.DisplayFor(model => model.Description)</span>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-4">
                    <div class="info-box bg-light">
                        <div class="info-box-content">
                            <span class="info-box-text text-center text-muted">@Html.DisplayNameFor(model => model.DateCreated)</span>
                            <span class="info-box-number text-center text-muted mb-0">@Html.DisplayFor(model => model.DateCreated)</span>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-sm-4">
            <div class="info-box bg-light">
                <div class="info-box-content">
                    <span class="info-box-text text-center text-muted">@Html.DisplayNameFor(model => model.SubmitterId)</span>
                    <span class="info-box-number text-center text-muted mb-0"> @(new String(await userManager.GetEmailAsync(await userManager.FindByIdAsync(Model.SubmitterId)))) </span>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-4">
            <div class="info-box bg-light">
                <div class="info-box-content">
                    <span class="info-box-text text-center text-muted">@Html.DisplayNameFor(model => model.DeveloperId)</span>
                    <span class="info-box-number text-center text-muted mb-0"> @(new String(await userManager.GetEmailAsync(await userManager.FindByIdAsync(Model.DeveloperId))))</span>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-4">
            <div class="info-box bg-light">
                <div class="info-box-content">
                    <span class="info-box-text text-center text-muted">@Html.DisplayNameFor(model => model.Priority)</span>
                    <span class="info-box-number text-center text-muted mb-0">@Html.DisplayFor(model => model.Priority)</span>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-4">
            <div class="info-box bg-light">
                <div class="info-box-content">
                    <span class="info-box-text text-center text-muted">@Html.DisplayNameFor(model => model.Severity)</span>
                    <span class="info-box-number text-center text-muted mb-0">@Html.DisplayFor(model => model.Severity)</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
