@model IEnumerable<BugTracker.Models.Ticket>
@using Microsoft.AspNetCore.Identity
@using BugTracker.Areas.Identity.Data 
@inject UserManager<ApplicationUser> userManager

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLte.cshtml";
}


<!-- Content Header (Page header) -->
<div class="content-header">
    @*<div class="container-fluid">*@
    <div class="row mb-2">
        <div class="col-sm-6">
            <h1 class="m-0 text-dark">Tickets</h1>
        </div><!-- /.col -->
        <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a asp-action="Index">Home</a></li>
                <li class="breadcrumb-item active">Tickets Page</li>
            </ol>
        </div><!-- /.col -->
    </div><!-- /.row -->
    @*</div><!-- /.container-fluid -->*@
    <!-- SEARCH FORM -->
    <form class="form-inline" asp-controller="Tickets" asp-action="Index">
        <div class="input-group input-group-sm">
            <input class="form-control form-control-navbar" type="search" name="SearchString" placeholder="Search" aria-label="Search">
            <div class="input-group-append">
                <button class="btn btn-navbar" type="submit" value="Filter">
                    <i class="fas fa-search"></i>
                </button>
            </div>

        </div>
    </form>
</div>
<!-- /.content-header -->

<p>
    <a asp-action="Create">Create New Ticket</a>
</p>

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Tickets</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body p-0">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>@Html.DisplayNameFor(model => model.Title)</th>
                                    <th>@Html.DisplayNameFor(model => model.Description)</th>
                                    <th>@Html.DisplayNameFor(model => model.Status)</th>
                                    <th>@Html.DisplayNameFor(model => model.Priority)</th>
                                    <th>@Html.DisplayNameFor(model => model.Severity)</th>
                                    <th>@Html.DisplayNameFor(model => model.DateCreated)</th>
                                    <th>@Html.DisplayNameFor(model => model.DeveloperId)</th>
                                    <th>@Html.DisplayNameFor(model => model.SubmitterId)</th>
                                    <th></th>@*Empty col header here so that there will be gray table row border*@
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                <tr>
                                    <td>
                                        @*Can just do item.Title, but m => item.Title will format html properly*@
                                        @Html.DisplayFor(m => item.Title)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(m => item.Description)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(m => item.Status)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(m => item.Priority)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(m => item.Severity)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(m => item.DateCreated)
                                    </td>
                                    <td>
                                        @(new String (await userManager.GetEmailAsync(await userManager.FindByIdAsync(item.DeveloperId))))
                                    </td>
                                    <td>
                                        
                                        @(new String(await userManager.GetEmailAsync(await userManager.FindByIdAsync(item.SubmitterId))))
                                    </td>
                                    <td>
                                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> <br />
                                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> <br />
                                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                                    </td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>

            
        </div>
        <!-- /.row -->

    </div><!-- /.container-fluid -->
</section>
<!-- /.content -->